
{% load static %}

<!DOCTYPE html5>
<html>

{% block head %}
<head>
<meta name="keywords" content="Post Here Classifier Reddit"/>
<meta name="author" content="Joseph Maulin"/>
<meta name="description" content="A reddit extension for users and post suggestion"/>
<meta name="viewport" content="width=device-width"/>
<meta charset="UTF-8"/>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
{% endblock %}


<body>
{% include 'navbar.html' %}
<br><br>
{% block content %}
{% endblock %}
</body>

</html>
