
{% extends 'base.html' %}


{% block content %}

<h1>Post -- Predict the subreddit for a post title and selftext</h1>
<h1>User -- Get user analytics for recent posts and subreddits</h1>


<div id="curtain_left"></div>
<div id="curtain_right"></div>


<script type="text/javascript">
$(document).ready(function(){
    document.getElementById("curtain_left").classList.toggle("open_left");
    document.getElementById("curtain_right").classList.toggle("open_right");
})
</script>

</script>

{% endblock %}
