

{% extends 'base.html' %}


{% block content %}

<div id="curtain_left"></div>
<div id="curtain_right"></div>

<form method='POST' onsubmit="close_curtains()"> {% csrf_token %}
  {{ form.as_p }}
  <input id="user_button" type='submit' value="User Continue"/>
</form>

{% if user_found == False %}
<h2 id="user_not_found_response">User not found</h2>
{% endif %}

{% if posts %}
<div class="post_container">
  <br/><br/>
  <div class="post_data">
    {% for post, comments in posts %}
      <div class="post">

        <div class="post_head" style="padding-left:5%; padding-right:5%;">
          <div class="post_info" style="margin-top:-25px;">
            <div style="display:flex;" class="post_labels">
              <a style="flex:left; padding-right:10px;" href="https://www.reddit.com/user/{{post.author}}" target="_blank">
                <h6>u/{{post.author}}</h6>
              </a>
              <a style="flex:left;" href="https://reddit.com/{{post.subreddit_name_prefixed}}" target="_blank">
                <h6>{{post.subreddit_name_prefixed}}</h6>
              </a>
            </div>
            <h2 style="margin-top:-25px">{{post.title}}</h2>
            <h2>{{post.selftext}}</h2>
            <!-- <a href="https://reddit.com/{{post.subreddit_name_prefixed}}/comments/{{post.id}}/{{post.title}}" target="_blank">
              <h2>{{post.title}}</h2>
              <h2>{{post.selftext}}</h2>
            </a> -->
          </div>
        </div>

        <div class="post_comments" style="padding-left:8%; padding-right:5%; padding-bottom:5%;">
          {% for comment in comments %}
            <div class="post_comment">
              <div style="display:flex;" class="comment_labels">
                <a style="flex:left; padding-right:10px;" href="https://www.reddit.com/user/{{post.author}}" target="_blank">
                  <h6>u/{{comment.author}}</h6>
                </a>
                <a style="flex:left;" href="https://reddit.com/{{post.subreddit_name_prefixed}}" target="_blank">
                  <h6>{{post.subreddit_name_prefixed}}</h6>
                </a>
              </div>
              <h3>{{comment.body}}</h3>
            </div>
          {% endfor %}
        </div>

      </div>
    {% endfor %}
  </div>

  <div class="graph-container">
    <div class="graph">
      {% include 'post_comments.html' %}
    </div>
    <br>
    <div class="graph">
      {% include 'post_history.html' %}
    </div>
    <br>
    <div class="graph">
      {% include 'subreddit_nums.html' %}
    </div>
  </div>
</div>
{% endif %}


<script type="text/javascript">
  function close_curtains(){
    document.getElementById("curtain_left").classList.toggle("open_left");
    document.getElementById("curtain_right").classList.toggle("open_right");
    document.getElementById("curtain_left").classList.toggle("close_left");
    document.getElementById("curtain_right").classList.toggle("close_right");
  }

  $(document).ready(function(){
      document.getElementById("curtain_left").classList.toggle("open_left");
      document.getElementById("curtain_right").classList.toggle("open_right");
  })

</script>



{% endblock %}
