

{% extends 'base.html' %}


{% block content %}

<div id="curtain_left"></div>
<div id="curtain_right"></div>

<form method='POST' onsubmit="close_curtains()"> {% csrf_token %}
  {{ form.as_p }}
  <input id="user_button" type='submit' value="User Continue"/>
</form>

{% if posts %}
<div class="post_container">
  <br/><br/>
  <div class="post_data">
    {% for x in posts %}
      <h2>{{x.title}}</h2>
      <h2>{{x.selftext}}</h2>
    {% endfor %}
  </div>

  <div class="graph-container">
    <div class="graph">
      {% include 'post_comments.html' %}
    </div>
    <br>
    <div class="graph">
      {% include 'post_history.html' %}
    </div>
    <br>
    <div class="graph">
      {% include 'subreddit_nums.html' %}
    </div>
  </div>
</div>
{% endif %}


<script type="text/javascript">
  function close_curtains(){
    document.getElementById("curtain_left").classList.toggle("open_left");
    document.getElementById("curtain_right").classList.toggle("open_right");
    document.getElementById("curtain_left").classList.toggle("close_left");
    document.getElementById("curtain_right").classList.toggle("close_right");
  }

  $(document).ready(function(){
      document.getElementById("curtain_left").classList.toggle("open_left");
      document.getElementById("curtain_right").classList.toggle("open_right");
  })

</script>



{% endblock %}
