

{% extends 'base.html' %}


{% block content %}

<form method='POST' action='/load'> {% csrf_token %}
  {{ form.as_p }}
  <input id="user_button" type='submit' value="User Continue"/>
</form>

{% if posts %}
  <br/><br/>
  {% for x in posts %}
    <h2>{{x.title}}</h2>
    <h2>{{x.selftext}}</h2>
  {% endfor %}

  <div class="graph-container">
    <div class="graph">
      {% include 'post_comments.html' %}
    </div>
    <div class="graph">
      {% include 'post_history.html' %}
    </div>
    <div class="graph">
      {% include 'subreddit_nums.html' %}
    </div>
  </div>
{% endif %}

<script type="text/javascript">
  $(function() {
    $("#user_button").on('click', function(){
      $("#load_screen").addclass("load_animation")
    })
  })
</script>

{% endblock %}
