
.navBar{
  background-color: #444;
  overflow: hidden;
  font-family:sans-serif;
}

.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navBar a:active {
  background-color: #4CAF50;
  color: white;
}

.post_container {
  display: flex;
  width: 100%;
  z-index: 0;
}

.post_data {
  width: 50%;
  float:left;
}

.graph-container {
  width: 35%;
  float: right;
}

.graph {
  width: 100%;
  height: 33%;
}

#curtain_left {
  height : 100%;
  width : 100%;
  position: absolute;
  top: 0px;
  right:0%;
  right:110%;
  background-color : #eb8334;
  opacity: 0.4;
  z-index: 1;
}

#curtain_right {
  height : 100%;
  width : 100%;
  position: absolute;
  left:0%;
  top: 0px;
  background-color : #eb6734;
  opacity: .95;
  z-index: 2;
}

.close_left {
  right:110%;
  animation : curtain_left_close .7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.close_right {
  left:110%;
  animation : curtain_right_close 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.open_left {
  right:0%;
  animation: curtain_left_open .7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.open_right {
  left:0%;
  animation: curtain_right_open 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes curtain_left_close {
  0% {right:110%}
  25% {right:75%}
  50% {right:50%}
  75% {right:25%}
  100% {right:0%}
}

@keyframes curtain_right_close {
  0% {left:110%}
  25% {left:75%}
  50% {left:50%}
  75% {left:25%}
  100% {left:0%}
}

@keyframes curtain_left_open {
  0% {right:0%}
  25% {right:25%}
  50% {right:50%}
  75% {right:75%}
  100% {right:110%}
}

@keyframes curtain_right_open {
  0% {left:0%}
  25% {left:25%}
  50% {left:50%}
  75% {left:75%}
  100% {left:110%}
}
