
.navBar{
  background-color: #444;
  overflow: hidden;
  font-family:sans-serif;
}

.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navBar a:active {
  background-color: #4CAF50;
  color: white;
}

.post_container {
  display: flex;
  width 100%;
  background-color: "lightblue";
}

.post_data {
  width: 50%;
  float:left;
}

.graph-container {
  width: 50%;
  float:right;
}

.graph {
  width: 100%;
  height:33%;
}
