
.navBar{
  background-color: #444;
  overflow: hidden;
  font-family:sans-serif;
}

.navBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navBar a:active {
  background-color: #4CAF50;
  color: white;
}

body{
  background-color: #cccccc;
}

#sub_pred_box a {
  text-decoration: none;
  color: inherit;
}

#sub_pred_box a:hover {
  color:#eb6734;
}

#subreddit_name {
  padding : 10px, 10px, 10px, 10px;
  background-color: #edebeb;
}

#post_display {
  position: absolute;
  left:10%;
  width:60%;
}

#post_box {
  font-family: 'Newsreader', serif;
  border-style : solid;
  border-color : lightgray;
  padding : 20px 20px 20px 20px;
  background-color: #fcfcfc;
}

#predictions_box {
  font-family: 'Newsreader', serif;
  padding:20px;
  background-color: #fcfcfc;
}

#sub_pred_box {
  border-style : solid;
  border-color : lightgray;
  padding : 20px 20px 20px 20px;
  background-color: #fcfcfc;
}

.post_container {
  display: flex;
  width: 100%;
  z-index: 0;
}

.post_data {
  width: 50%;
  float:left;
  padding: 0% 0% 0% 0%;
}

.post_data div:hover{
  opacity:1;
}

.post {
  opacity:.75;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #fcfcfc;
}

.post_head {
  font-size: 16px;
  margin:10% 0% 10% 0%;
}

.post_head h6{
  color:#2dad13;
}

.post_head h6:hover{
  text-decoration:underline;
}

.post_head #post_text{
  margin-top:-20px;
}

.post_head a {
  text-decoration: none;
  color: inherit;
}

.post_comments {
  margin:-5% 0% 0% 5%;
  padding:0% 0% 0% 0%;
}

.post_comment {
  padding:0% 0% 0% 0%;
}

.post_comment h6{
  color:#2dad13;
}

.post_comment h6:hover{
  text-decoration:underline;
}

.post_comment h3{
  margin-top:-25px;
}

.graph-container {
  width: 35%;
  float: right;
  height:100%;
}

.graph {
  width: 100%;
  height: 33%;
}

#curtain_left {
  height : 9999px;
  width : 9999px;
  position: absolute;
  top: 0px;
  right:0%;
  right:110%;
  background-color : #eb8334;
  opacity: 0.4;
  z-index: 1;
}

#curtain_right {
  height : 9999px;
  width : 9999px;
  position: absolute;
  left:0%;
  top: 0px;
  background-color : #eb6734;
  opacity: .95;
  z-index: 2;
}

.close_left {
  right:110%;
  animation : curtain_left_close .7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.close_right {
  left:110%;
  animation : curtain_right_close 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.open_left {
  right:0%;
  animation: curtain_left_open .7s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.open_right {
  left:0%;
  animation: curtain_right_open 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes curtain_left_close {
  0% {right:110%}
  25% {right:75%}
  50% {right:50%}
  75% {right:25%}
  100% {right:0%}
}

@keyframes curtain_right_close {
  0% {left:110%}
  25% {left:75%}
  50% {left:50%}
  75% {left:25%}
  100% {left:0%}
}

@keyframes curtain_left_open {
  0% {right:0%}
  25% {right:25%}
  50% {right:50%}
  75% {right:75%}
  100% {right:110%}
}

@keyframes curtain_right_open {
  0% {left:0%}
  25% {left:25%}
  50% {left:50%}
  75% {left:75%}
  100% {left:110%}
}
